@model IEnumerable<Data.Dto.ProductDTO>

        @{
             ViewBag.Title = "Products";
         }

@{
    var grid = new WebGrid(Model, canPage: true, rowsPerPage: 20);
    grid.Pager(WebGridPagerModes.All);
}

<div style="margin-top: 20px" class="well bs-component">
<p>
 @*@Html.ActionLink("New Product", "Create")*@
 </p>
   @grid.GetHtml(
            columns: grid.Columns(
           grid.Column("Title", "Title",  canSort: true, style: "productTitleColumn"),
           grid.Column("CategoryName", "CategoryName" ,canSort: true, style: "categoryColumn"),
           grid.Column("Price", "Price", canSort: true, style: "priceColumn"),
           grid.Column(header: " ", format: (item) =>
               new HtmlString(
                   Html.ActionLink("Edit", "Edit", new {id = item.ProductId }).ToString() + "  |" +
                   Html.ActionLink("Delete", "Delete", new {id = item.ProductId }).ToString()
                    )
                )
            )
        )
</div>
